In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')

In [2]:
df = pd.read_csv('Video_Game_Data.csv', thousands = ',')
df = df.drop(columns='Unnamed: 0')

In [14]:
#103 weeks worth of data X 30 data points per week
df.tail()

,Game Title,Weekly Sales,All Time Sales,Weeks Out
3085,"NBA 2K19 (XOne)Take-Two Interactive, Sports",84187,1737777,16
3086,"Madden NFL 19 (PS4)Electronic Arts, Sports",83796,2214368,21
3087,"Assassin's Creed Odyssey (XOne)Ubisoft, Action...",78669,1388057,13
3088,"Grand Theft Auto V (XOne)Take-Two Interactive,...",73714,8720682,215
3089,"Fortnite (XOne)Gearbox Software, Action",66653,769347,76

# Need to make a new DataFrame to make this ready for linear regression instead of time series

In [4]:
#Since All time sales consistently changes - it would make my problem a time series issue. In order to fit the data
#into a linear regression model, I am only obtaining the max sales for each game title and making a new Dataframe
all_time_sales = list(df.groupby('Game Title').max()['All Time Sales'])

In [5]:
weeks_out = list(df.groupby('Game Title').max()['Weeks Out'])

In [6]:
game_title = list(df.groupby('Game Title').max().index)

In [16]:
weekly_sales = list(df.groupby('Game Title').mean()['Weekly Sales'])

In [8]:
df2 = pd.DataFrame(columns=['Game_Title', 'All_Time_Sales', 'Weeks_Out', 'Weekly_Sales'])

In [17]:
df2.Game_Title = game_title
df2.All_Time_Sales = all_time_sales
df2.Weeks_Out = weeks_out
df2.Weekly_Sales = weekly_sales

In [18]:
#This code cleans out my Game Title column as you see above into separate columns.
df2['Genre'] = df2['Game_Title'].map(lambda x: x.split(',')[1].strip())
df2['Game_Title'] = df2['Game_Title'].map(lambda x: x.split(',')[0])
df2['Console'] = df2['Game_Title'].map(lambda x: x.split('(')[-1].split(')')[0])
df2['Publisher'] = df2['Game_Title'].map(lambda x: x.split('(')[-1].split(')')[-1])
df2['Game_Title'] = df2['Game_Title'].map(lambda x: x.split('(')[0])

In [19]:
#Issue with Pokemon: Let's Go, so have to clean out the appropriate columns 
df2 = df2.replace({'Console': "Pokemon: Let's Go"}, {'Console': 'NS'})
df2 = df2.replace({'Publisher': "Pokemon: Let's Go"}, {'Publisher': 'Nintendo'})
df2 = df2.replace({'Genre': "Pikachu! (NS)Nintendo"}, {'Genre': 'Role-Playing'})
df2 = df2.replace({'Genre': "Eevee! (NS)Nintendo"}, {'Genre': 'Role-Playing'})
df2.loc[342, 'Game_Title'] = "Pokemon: Let's Go Eevee!"
df2.loc[343, 'Game_Title'] = "Pokemon: Let's Go Pikachu!"

In [21]:
df2.to_csv('Final DataFrame.csv')

# Below contains my data cleansing on the entire raw dataset

In [ ]:
#Data Cleansing
df['Genre'] = df['Game Title'].map(lambda x: x.split(',')[1].strip())
df['Game Title'] = df['Game Title'].map(lambda x: x.split(',')[0])
df['Console'] = df['Game Title'].map(lambda x: x.split('(')[-1].split(')')[0])
df['Publisher'] = df['Game Title'].map(lambda x: x.split('(')[-1].split(')')[-1])
df['Game Title'] = df['Game Title'].map(lambda x: x.split('(')[0])

In [ ]:
#get ratings for each game to add as another feature

In [ ]:
#Issue with Pokemon: Let's Go, so have to clean out the appropriate columns 
df = df.replace({'Console': "Pokemon: Let's Go"}, {'Console': 'NS'})
df = df.replace({'Publisher': "Pokemon: Let's Go"}, {'Publisher': 'Nintendo'})
df = df.replace({'Genre': "Pikachu! (NS)Nintendo"}, {'Genre': 'Role-Playing'})
df = df.replace({'Genre': "Eevee! (NS)Nintendo"}, {'Genre': 'Role-Playing'})

In [ ]:
pika_locs = [2880, 2912, 2944, 2975, 3006, 3035, 3067]
eevee_locs = [2881, 2919, 2949, 2981, 3011, 3042, 3072]

for locs in pika_locs:
    df.loc[locs, 'Game Title'] = "Pokemon: Let's Go Pikachu!"

for locs in eevee_locs:
    df.loc[locs, 'Game Title'] = "Pokemon: Let's Go Eevee!"

In [ ]:
#To clean up my data by getting rid of publishers with less than 5 appearances in my data set
df['Count'] = df.groupby('Publisher')['Publisher'].transform('count')

In [ ]:
df = df[df['Console'] != 'Sumikko Gurashi: Koko' ]

In [ ]:
df.groupby('Console').sum()

In [ ]:
df.info()

In [ ]:
df.to_csv('Gaming_Data_Cleaned_Draft1.csv')

In [ ]:
publishers = list(df.groupby('Publisher').max().index)

In [ ]:
num_appearences = list(df.groupby('Publisher').max()['Count'])

In [ ]:
publisher_data = list(zip(publishers,num_appearences))

In [ ]:
publisher_data