In [165]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')

In [140]:
df = pd.read_csv('Video_Game_Data.csv', thousands = ',')
df = df.drop(columns='Unnamed: 0')

In [141]:
#Data Cleansing
df['Genre'] = df['Game Title'].map(lambda x: x.split(',')[1].strip())
df['Game Title'] = df['Game Title'].map(lambda x: x.split(',')[0])
df['Console'] = df['Game Title'].map(lambda x: x.split('(')[-1].split(')')[0])
df['Publisher'] = df['Game Title'].map(lambda x: x.split('(')[-1].split(')')[-1])
df['Game Title'] = df['Game Title'].map(lambda x: x.split('(')[0])

In [142]:
#get ratings for each game to add as another feature

In [143]:
#Issue with Pokemon: Let's Go, so have to clean out the appropriate columns 
df = df.replace({'Console': "Pokemon: Let's Go"}, {'Console': 'NS'})
df = df.replace({'Publisher': "Pokemon: Let's Go"}, {'Publisher': 'Nintendo'})
df = df.replace({'Genre': "Pikachu! (NS)Nintendo"}, {'Genre': 'Role-Playing'})
df = df.replace({'Genre': "Eevee! (NS)Nintendo"}, {'Genre': 'Role-Playing'})

In [144]:
pika_locs = [2880, 2912, 2944, 2975, 3006, 3035, 3067]
eevee_locs = [2881, 2919, 2949, 2981, 3011, 3042, 3072]

for locs in pika_locs:
    df.loc[locs, 'Game Title'] = "Pokemon: Let's Go Pikachu!"

for locs in eevee_locs:
    df.loc[locs, 'Game Title'] = "Pokemon: Let's Go Eevee!"

In [145]:
#To clean up my data by getting rid of publishers with less than 5 appearances in my data set
df['Count'] = df.groupby('Publisher')['Publisher'].transform('count')

In [146]:
df = df[df['Count'] >= 5]

In [147]:
df.head()

,Game Title,Weekly Sales,All Time Sales,Weeks Out,Genre,Console,Publisher,Count
0,Pokemon Sun/Moon,312949,12347479,8,Role-Playing,3DS,Nintendo,709
1,Grand Theft Auto V,162293,13692364,112,Action,PS4,Take-Two Interactive,307
2,Super Mario Maker,147107,1979933,6,Platform,3DS,Nintendo,709
3,FIFA 17,138161,9719745,15,Sports,PS4,Electronic Arts,381
4,Call of Duty: Infinite Warfare,134299,6329596,10,Shooter,PS4,Activision,294

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3022 entries, 0 to 3089
Data columns (total 8 columns):
Game Title        3022 non-null object
Weekly Sales      3022 non-null int64
All Time Sales    3022 non-null int64
Weeks Out         3022 non-null int64
Genre             3022 non-null object
Console           3022 non-null object
Publisher         3022 non-null object
Count             3022 non-null int64
dtypes: int64(4), object(4)
memory usage: 212.5+ KB

In [149]:
df.to_csv('Gaming_Data_Cleaned_Draft1')

In [152]:
#To make my linear regression model better, I am going to obtain another feature in order to better explain the sales

In [193]:
publishers = list(df.groupby('Publisher').max().index)

In [194]:
num_appearences = list(df.groupby('Publisher').max()['Count'])

In [195]:
publisher_data = list(zip(publishers,num_appearences))

In [196]:
publisher_data

[('505 Games', 8),
 ('Activision', 294),
 ('Atlus', 7),
 ('Bandai Namco Entertainment', 16),
 ('Bethesda Softworks', 67),
 ('Capcom', 88),
 ('Codemasters', 12),
 ('Deep Silver', 18),
 ('Electronic Arts', 381),
 ('Focus Home Interactive', 9),
 ('Frontier Developments', 6),
 ('Gearbox Software', 11),
 ('Koch Media', 8),
 ('Konami Digital Entertainment', 20),
 ('Level 5', 14),
 ('Maximum Games', 8),
 ('Microsoft Game Studios', 17),
 ('Microsoft Studios', 95),
 ('Mojang', 28),
 ('Namco Bandai Games', 85),
 ('Nintendo', 709),
 ('Rebellion Developments', 6),
 ('Sega', 30),
 ('Sony Computer Entertainment', 37),
 ('Sony Interactive Entertainment', 225),
 ('Square Enix', 126),
 ('Studio Wildcard', 5),
 ('Take-Two Interactive', 307),
 ('Tecmo Koei', 20),
 ('Ubisoft', 280),
 ('Warner Bros. Interactive Entertainment', 85)]